<h1>Branches#show</h1>
<ul>
<li>Name          : <%= @branch.branch_name %></li>
<li>Phone Number  : <%= @branch.location %></li>
<li>Email Id      : <%= @branch.email %></li>
<li>Phone         : <%= @branch.contact %></li>

</ul>
